In [1]:
import pandas as pd

In [2]:
cols = [
    "Taux d'occupation des places autorisées en hébergement permanent",
    "Taux d'occupation des lits autorisés en hébergement temporaire",
    "Taux d'occupation des lits autorisés en accueil de jour",
    "Finess",
    "Année"
]
data = pd.read_csv(
    "../../data/HELIOS 07062022/ANN_ERRD_EJ_ET_2022_06_07.CSV",
    delimiter=";",
    encoding="latin1",
    usecols=cols,
    index_col=["Finess", "Année"]
)

/var/folders/wp/_rwbdgq95hj01wzhk60f0tv80000gn/T/ipykernel_96023/1107961246.py:2: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv("../../data/HELIOS 07062022/ANN_ERRD_EJ_ET_2022_06_07.CSV", delimiter=";", encoding="latin1", usecols=cols, index_col=["Finess", "Année"])

In [7]:
data = data.dropna(how='all')

In [12]:
activités_des_établissements = data.rename(
    columns = {
        'Finess':'numérofinessétablissementterritorial', 
        'Année':'année',
        "Taux d'occupation des places autorisées en hébergement permanent": 'tauxdoccupationdesplacesautoriséesenhebergementpermanent',
        "Taux d'occupation des lits autorisés en hébergement temporaire": 'tauxdoccupationdeslitsautorisésenhebergementtemporaire',
        "Taux d'occupation des lits autorisés en accueil de jour": 'tauxdoccupationdeslitsautorisésenaccueildejour',
    }
)

In [11]:
from sqlalchemy import create_engine
engine = create_engine("postgresql://helios:h3li0s@localhost:5432/helios")

In [13]:
activités_des_établissements.to_sql("ÉtablissementTerritorialActivité", engine, if_exists='replace', index=True)

436

In [14]:
activités_des_établissements.describe()

,tauxdoccupationdesplacesautoriséesenhebergementpermanent,tauxdoccupationdeslitsautorisésenhebergementtemporaire,tauxdoccupationdeslitsautorisésenaccueildejour
count,17204.000000,7512.000000,3621.000000
mean,0.969240,0.632475,0.454591
std,1.842004,3.814890,0.410093
min,0.000000,0.000000,-0.016499
25%,0.930588,0.283562,0.170274
50%,0.966342,0.560639,0.427619
75%,0.983929,0.809097,0.700000
max,179.648551,247.000000,13.410046

In [17]:
finess_des_établissements = pd.read_sql("SELECT numérofinessentitéjuridique FROM Établissementterritorialidentité", engine, index_col="numérofinessentitéjuridique")

In [18]:
finess_des_établissements

Empty DataFrame
Columns: []
Index: [010780054, 010780062, 010780096, 010780112, 010780120, 010780138, 010009132, 010009132, 010007987, 010007987, 010007987, 010783009, 010790368, 010785897, 010784270, 010001352, 010009132, 010001725, 010785897, 010785897, 690793567, 010008407, 010008407, 750056335, 690035159, 920032380, 010783009, 010783009, 010783009, 010000735, 010002277, 010002293, 750719239, 010002327, 010002343, 010002376, 010002392, 010002426, 690039904, 010002442, 010002475, 010002491, 010002525, 010002541, 010002574, 010002590, 010002624, 010002640, 010002665, 010002681, 010002715, 010002731, 010002764, 010009033, 010002780, 010002814, 010783009, 010002830, 010002897, 010002913, 010002947, 010002962, 010002996, 010003010, 010003044, 010003028, 010003077, 010003093, 010003028, 010003127, 010003143, 010003176, 010003192, 750050916, 010003242, 010003275, 010003291, 010003325, 010003309, 010003341, 010003374, 010003390, 010003424, 010003465, 010003481, 010003515, 010780054, 010003531, 010003564, 010003580, 010003614, 010003630, 010003663, 010785947, 010003697, 010003713, 010003747, 010003762, 010003739, 010003796, ...]

[98241 rows x 0 columns]

MultiIndex([('010786002', 2019),
            ('020002184', 2019),
            ('020002184', 2020),
            ('030780662', 2019),
            ('030780936', 2018),
            ('040780900', 2018),
            ('040785826', 2020),
            ('040785974', 2019),
            ('050002054', 2018),
            ('010789030', 2019),
            ...
            ('930815410', 2020),
            ('930816723', 2019),
            ('950040238', 2019),
            ('950783431', 2019),
            ('670013689', 2019),
            ('930021316', 2020),
            ('780701793', 2018),
            ('630784833', 2020),
            ('970111126', 2018),
            ('970202982', 2020)],
           names=['Finess', 'Année'], length=17436)