In [ ]:
import pandas as pd

In [ ]:
colonnes_à_garder = [
    "Taux d'occupation des places autorisées en hébergement permanent",
    "Taux d'occupation des lits autorisés en hébergement temporaire",
    "Taux d'occupation des lits autorisés en accueil de jour",
    "Finess",
    "Année"
]
data_brute = pd.read_csv(
    "../../data/HELIOS 07062022/ANN_ERRD_EJ_ET_2022_06_07.CSV",
    delimiter=";",
    encoding="latin1",
    usecols=colonnes_à_garder,
    index_col=["Finess", "Année"],
    dtype={"Finess": str, "Année": str, "Taux d'occupation des places autorisées en hébergement permanent": float, "Taux d'occupation des lits autorisés en hébergement temporaire": float, "Taux d'occupation des lits autorisés en accueil de jour": float}
)

In [ ]:
data = data_brute.dropna(how='all')

In [ ]:
activités_des_établissements = data.rename(
    columns = {
        "Taux d'occupation des places autorisées en hébergement permanent": 'tauxdoccupationdesplacesautoriséesenhebergementpermanent',
        "Taux d'occupation des lits autorisés en hébergement temporaire": 'tauxdoccupationdeslitsautorisésenhebergementtemporaire',
        "Taux d'occupation des lits autorisés en accueil de jour": 'tauxdoccupationdeslitsautorisésenaccueildejour',
    }
)

In [ ]:
from sqlalchemy import create_engine
engine = create_engine("postgresql://helios:h3li0s@localhost:5432/helios")

In [ ]:
finess_des_établissements = pd.read_sql("SELECT numérofinessÉtablissementterritorial, domaine FROM Établissementterritorialidentité where domaine = 'Médico-social'", engine)

In [ ]:
activités_des_établissements = activités_des_établissements[activités_des_établissements.index.get_level_values("Finess").isin(finess_des_établissements["numérofinessÉtablissementterritorial"])]

In [ ]:
activités_des_établissements.to_sql("ÉtablissementTerritorialActivité", engine, if_exists="replace", index=True)

## Exploration pour les données de test

In [ ]:
data_brute[~data_brute.isna().any(axis=1)]